@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        h1 {
            color: dimgray
        }

        li {
            text-align: left
        }
    </style>
}


<div class="text-center">
    @*<ul id="ul1">
        <li></li>
    </ul>*@
</div>
<div class="card-columns">  
</div>


@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
       @* const theUl = document.querySelector('#ul1');
        const docFrag = document.createDocumentFragment();

        for (let i = 0; i < DATAS.length; i++) {
            const { Name, Opentime, Ticketinfo, Tel, Add} = DATAS[i];
            const txtLi = document.createTextNode(Name + ", " + Add + ", " + Tel);
            const eleLi = document.createElement("li");
            eleLi.appendChild(txtLi)
            docFrag.appendChild(eleLi)
        }
        theUl.appendChild(docFrag)*@
    let htmlDatas = DATAS.map(data => {
        let { Name, Toldescribe, Changetime, TYWebsite } = data 
    return (
    `<div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">${Name}</h5>
            <p class="card-text">${Toldescribe}</p>
            <p class="card-text"><small class="text-muted">最後更新日期：${Changetime}</small></p>
            <a href="${TYWebsite}"class="card-link">更多資訊...</a>
        </div>
    </div>
    `
    )
    })
    document.querySelector(".card-columns").innerHTML = htmlDatas.join("")
    </script>
}