
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form name="userInfo" method="post" enctype="multipart/form-data" action="~/Api/Register">
            <div class="form-group">
                <label for="InputName">姓名</label>
                <input type="text" class="form-control" id="InputName" name="Name">
                <small id="nameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InputEmail">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="Email">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InputAge">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="Age">
                <small id="ageHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InputFile">選擇檔案</label>
                <input type="file" class="form-control-file" id="InputFile" name="File1">
            </div>
            <button type="submit" id="buttonSubmit" class="btn btn-primary">送出</button>
        </form>
        <div id="div1" class="alert alert-primary" role="alert"></div>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts{
    <script>


    </script>
    <script>
    const btn = document.querySelector("#buttonSubmit")
    const divMessage = document.querySelector("#div1")
        const txtName = document.querySelector("#InputName")
        const txtEmail = document.querySelector("#InputEmail")
        const txtAge = document.querySelector("#InputAge")
        const nameWarning = document.querySelector("#nameHelp")
        const emailWarning = document.querySelector("#emailHelp")
        const ageWarning = document.querySelector("#ageHelp")

    //const xhr = new XMLHttpRequest();
    //btn.addEventListener("click", event => {
    //    event.preventDefault();
    //    const formData = new FormData(document.userInfo);
    //    xhr.addEventListener("load", () => {
    //        const data = xhr.responseText;
    //        divMessage.textContent = data;
    //    })
    //    xhr.open("POST", document.userInfo.action); //"~/Api/Register"
    //    xhr.send(formData);
    //})
        txtName.addEventListener("blur", async() => {
        const url = "@Url.Content("~/api/checkExist")"
        const params = `?name=${txtName.value}`
            let response = await fetch(url + params)  //resolve->response, reject
            let data = await response.text()
            //console.log(data)
            if (data == 'True') {
                nameWarning.textContent = "帳號已存在"
            }
            else if (txtName.value == "") {
                nameWarning.textContent = "不可空白"
            }
            else nameWarning.textContent = ""
            
        })
        txtEmail.addEventListener("blur", () => {
            if (txtEmail.value == "") {
                emailWarning.textContent = "不可空白"
            }
            else emailWarning.textContent = ""
        })
        txtAge.addEventListener("blur", () => {
            if (txtAge.value == "") {
                ageWarning.textContent = "不可空白"
            }
            else ageWarning.textContent = ""
        })

        btn.addEventListener("click", evt => {
            evt.preventDefault() //預設行為停止掉(按下submit不會送出)
            //if (txtName.value == "") {
            //    nameWarning.textContent = "不可空白"
            //}
            //if (txtEmail.value == "") {
            //    emailWarning.textContent = "不可空白"
            //}
            //if (txtAge.value == "") {
            //    ageWarning.textContent = "不可空白"
            //}
            if (nameWarning.textContent == "" && emailWarning.textContent == "" && ageWarning.textContent == "") {
                const formData = new FormData(document.userInfo);//將userInfo表單中的資料放到formData變數中
                //Fetch 將資料送到Server端
                fetch(document.userInfo.action, {
                    method: "POST",
                    body: formData
                }).then(response => response.text())
                    .then(data => divMessage.textContent = data)
                console.log("save")
            }
        })

    </script>
}


